@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    display: grid;
    grid-template-areas: 
        "sidebar mainpage mainpage"
        "sidebar mainpage mainpage"
        "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    }
    
body > #sidebar {
    display: grid;
    grid-area: sidebar;
    }

body > #mainpage {
    grid-area: mainpage;
}
body > #footer {
    grid-area: footer;
   
}

#sidebar > header {
    grid-area: 1 / 1 / 2 / 2;
}
body > #sidebar > #images {
    grid-area: 1/1/2/2;
}
body > #sidebar > #images2 {
    grid-area: 3/1/3/2;
}
